data/LibriSpeech/
data/test-output-folder/*
src/__pycache__/
testing/__pycache__/
data/en_commonvoice/
data/audio.amr
data/XX*
SECRETS.yaml
testing/whisper/__pycache__
testing/whisper/tmp_trainer
testing/whisper/whisper*
testing/whisper/refs_and_preds.txt
testing/whisper/test-cv*
testing/ipython*
testing/testing_package*
dist/
AudioAugmentor.egg-info/
AudioAugmentor/__pycache__/
testing/whisper/test.py
image_generation/images/generated_room.pdf
